@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

body{ 
    margin: 0;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.cells{
    border: 1px solid;
    width: 80%;
    margin: auto;
}

.logo{
    text-align: center;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Rock Salt",Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.colored-paragraph{
    background-color: orange;
    width: 100%;
    padding: 1em 2em;
    display: inline-block;
}

.banner > img{
    width: 100%;
}

.cells img{
    width: 50%;
}

a:link, a:visited{
    color: greenyellow;
    text-decoration: none;
}

img{
    max-width: 100%;
}

*{
    box-sizing: border-box;
}

.cells section{
    width: 24%;
    display: inline-block;
}